<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Powerfull Point</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body>

<div class="container">

  <div class="row search" ng-controller="PhoneListCtrl">

    <div class="col-md-2">
      <input ng-model="query" placeholder="Search here">
    </div>

    <div class="col-md-10">
      <ul class="phones">
        <li ng-repeat="phone in phones | emptyifblank:query | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>

  </div> 

  <div class="row">

    <div class="col-md-2" ng-controller="PhoneListCtrl">
      <!--Sidebar content-->

      <ul>
        <li ng-repeat="phone in phones | orderBy:OrderProp"><a href="#/phones/{{phone.id}}">{{phone.name}}</a></li>
      </ul>

    </div>

    <div class="col-md-10">
      <div ng-view></div>
    </div>

  </div>

</div>

</body>
</html>
